<!-- Header -->     
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Dialog</div>
                <div class="intro-lead-in">Making mentoring easier.</div>
                <a href="#Get Started" class="page-scroll btn btn-xl">Sign up</a>
                <!--  <a href="#Problem we solve" class="page-scroll btn btn-xl">Tell Me More</a> -->  
            </div>
         </div>   
    </header>

    <section id="problems">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Problems we want to solve.</h2>
                <h3 class="section-subheading text-muted">Why we want to help.</h3>
            </div>
        </div>

         <!-- Problem we solve-->
        <div class="col-sm-6">
                <h4 class="subheading">Graduates.</h4>
                
                    <p class="text-muted">
                    <p>26% of Accenture survey repsondants are making less than $19,000. 28% of the repsondants will graduate with more than $30,000 in debt.</p>
                    <p>46 percent of 2012/2013 grads report having a full-time job</p></p>
                    <p>46 percent of 2012/2013 grads working today report that they are underemployed (meaning they are working in a job that does not require their college degree).</p> 
        </div>

        <div class="col-sm-6">
                    <h4 class="subheading">Employers.</h4>
                
                    <p class="text-muted">2012 survey, currently 7,000 immediate vacancies.</p> 
                        <p>75% of vacancies in the I.T. sector are for entry and compent level.</p>
                        <p>80% of 2014 college grads expect their employer to provide a formal training program in their first job.</p>
        </div>
    </section> 

    <!-- What is Dialog-->
    <section id="introduction">
        <div class="container">
            <div class="col-lg-8 text-center">
                <h2 class="section-heading">What is Dialog?</h2>
                <h3 class="section-subheading text-muted">Dialog is a quick and easy way for students and companies to communicate.</h3>

                <p>We provide a simple interface to ensure that design and engineering students are learning skills that companies need; whilst students and graduates have the safety net of college, social welfare or a part-time job.</p>
            </div>
        </div>
    </section>       

    <!-- How are you better off -->
    <section id="benefits">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Benefits of Dialog</h2>
                     <!-- <h3 class="section-subheading text-muted">This is what we want to acheive.</h3> -->
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <h4 class="subheading">For Students and Graduates.</h4>
                <p class="text-muted">
                    <li>Access skills and resources from profesionals you want to work with.</li>
                    <li>Build familarity with potential employers months before you need a job</li>
                    <li>Keep up to date to what your future employers want.</li>
                </p>  
        </div>

        <div class="col-xs-12 col-sm-4">
            <h4 class="subheading">For Companies.</h4>  
                <p class="text-muted">
                    <li>Free database of people who want to work with you.</li>
                    <li>Mentor potential employees specific skills without spending hours providing feedback.</li>
                    <li>Save weeks in recruiting.</li>
                </p>    
        </div>


        <div class="col-xs-12 col-sm-4">
            <h4 class="subheading">For Education Providers.</h4>
                <p class="text-muted">    
                    <li>Keep up to date with the latest skills and resources that employers want.</li>
                    <li>See what companies your graduates and students want to work with.</li>
                    <li>Promote your graduates among peers.</li>
                </p>   
        </div>
    </section>     


    <!-- Contact -->
    <section id="contact">
        <div class="container">
            <div class="col-lg-12 text-center">
                <div class="section-heading" >
                    <h2>Get Started.</h2>
                    <a href="#Get Started" class="page-scroll btn btn-xl">Sign up</a>
                </div>    
            </div>
        </div>
    </section>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>