<!-- Header -->     
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Dialog</div>
                <div class="intro-lead-in">Making recruitment easier.</div>
                <%= render 'shared/user_form' %>
                <!-- 
                <a href="#Get Started" class="page-scroll btn btn-xl">Sign up</a>
                -->  
                <!--  <a href="#Problem we solve" class="page-scroll btn btn-xl">Tell Me More</a> -->  
            </div>
         </div>   
    </header>

    <section id="problems">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Problems we want to solve.</h2>
                <h3 class="section-subheading text-muted">Recent studies found: </h3>
            </div>
        </div>

         <!-- Problem we solve-->
        <div class="col-sm-6">
                    <h4 class="subheading">For Companies.</h4>
                
                    <p class="text-muted">
                    <p><b>1. Current Skills Gap</b></p>
                    <p>In Ireland, there are currently 7,000 immediate vacancies in the I.T. sector. 75% of vacancies in the I.T. sector are for entry and compent level.</p> 

                    <p><b>2. Time and Cost to recruit and provide training</b></p>
                    <p>An average cost of recruiting, hiring and training a new employee can be close to $4,000.</p>
        </div>

        <div class="col-sm-6">
                <h4 class="subheading">For Employees.</h4>
                
                    <p class="text-muted">    
                   <p><b>1. Too few jobs for graduates.</b></p>
                   <p>Only 46 percent of 2012/2013 grads report having a full-time job.</p>

                    <p><b>2. Little on-job training.</b></p> 
                    <p>76% beleive it is essential. 61% received less than a weeks worth of training in 2013.</p>

                    <p><b>3. Gap in expectations.</b></p> 
                    <p>65% of survey participants don’t understand what employers are looking for in terms of relavent skills. </p>
        </div>
    </section> 

    <!-- What is Dialog-->
    <section id="introduction">
        <div class="container">
            <div class="col-lg-8 text-center">
                <h2 class="section-heading">What is Dialog?</h2>
                <h3 class="section-subheading text-muted">Dialog is an easy way for companies and students to communicate, so companies can de-risk their hiring process.</h3>

                <p>We provide a simple interface to help your future employees learn skills that you need; whilst students and graduates have the safety net of college, social welfare or a part-time job.</p>
            </div>
        </div>
    </section>       

    <!-- How are you better off -->
    <section id="benefits">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Benefits of Dialog</h2>
                     <!-- <h3 class="section-subheading text-muted">This is what we want to acheive.</h3> -->
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <h4 class="subheading">For Start-ups and SME's.</h4>  
                <p class="text-muted">
                    <li>Build a pipeline of people who want to work with you.</li>
                    <li>Train future employees specific skills before you hire them.</li>
                    <li>Minimise risks when recruiting and fast track your return on investment.</li>
                </p>    
        </div>

        <div class="col-xs-12 col-sm-4">
            <h4 class="subheading">For Students and Graduates.</h4>
                <p class="text-muted">
                    <li>Access skills and resources from profesionals you want to work with.</li>
                    <li>Build familarity with potential employers months before you need a job.</li>
                    <li>Keep up to date with skills your future employers want.</li>
                </p>  
        </div>

        <div class="col-xs-12 col-sm-4">
            <h4 class="subheading">For Education Providers.</h4>
                <p class="text-muted">    
                    <li>Keep up to date with the latest skills and resources that employers want.</li>
                    <li>See what companies your graduates and students want to work with.</li>
                    <li>Promote your graduates among peers.</li>
                </p>   
        </div>
    </section>     


    <!-- Contact -->
    <section id="contact">
        <div class="container">
            <div class="col-lg-12 text-center">
                <div class="section-heading" >
                    <h2>Want to learn more?</h2>
                    <!-- 
                        <a href="#Get Started" class="page-scroll btn btn-xl">Sign up</a>
                    -->
                    <%= render 'shared/user_form' %>
                </div>    
            </div>
        </div>
    </section>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>