<%#= Side bar for the image, see Listing 7.14 %>
<div class="row">
  <aside class="span4">
    <section>  
			<h1>
				<%#= See Listing 7.12 %>
			  <%= gravatar_for @user %>
			  <%= @user.name %>
			</h1>
    </section>
  </aside>
</div>