<li>
    <span class="content">
    <%= link_to resource.content, resource %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(resource.created_at) %> ago.
  </span>

  <span class="content">
    Started by:<%= link_to resource.user.name, resource.user %>
  </span>

    <% if current_user?(resource.user) %>
    <%= link_to "delete", resource, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: resource.content %>
  <% end %>
</li>