@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #4D4D4D;
$grayDarker: #1f1f1f;

/* universal */

html {
  overflow-y: scroll;
}

body {
	/* Adds padding at the top of the page, this will need to be increased is the navbar height is increased*/
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayMediumLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

header {
  border-bottom: 1px solid #eaeaea;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $grayMediumLight;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo-nav {
  float: left;
  margin-right: 10px;
  font-size: 1em;
  color: $grayMediumLight;
  letter-spacing: -1px;
  padding-top: 17px;
  line-height: 1;
}

/*
#logo:hover {
  color: #fff;
  text-decoration: none;
}
*/

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  /* border-top" 1px solid creates a line above the footer*/
  border-top: 1px solid $grayMediumLight;
  color: $grayMediumLight;
  a {
    color: $grayMediumLight;
    /*
    &:hover {
      color: $grayDarker;
    }
    */
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}